In [5]:
import pandas as pd
df=pd.read_csv('df_log_reg.csv')
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df2=pd.read_csv('input.csv')
df2.drop(['Unnamed: 0'],axis=1,inplace=True)

In [7]:
X = df.drop(['Admit'],axis=1)
y = df.Admit
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression(random_state=42)
logmodel.fit(X_train,y_train)
y_pred_test=logmodel.predict(X_test)
from sklearn.metrics import precision_score, recall_score, accuracy_score
accuracy_test = accuracy_score(y_test, y_pred_test)
print("Accuracy", accuracy_test)
precision_test = precision_score(y_test, y_pred_test)
print("Precision",precision_test)
recall_test = recall_score(y_test,y_pred_test)
print("Recall",recall_test)
print(logmodel.predict(df2))

Accuracy 0.6587301587301587
Precision 0.6612903225806451
Recall 0.6507936507936508
[0]

/Applications/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [13]:
df2.shape

(1, 47)

In [14]:
df2.columns

Index(['GRE_SCORE', 'Test_score', 'Undergrad_score', 'Grad_Year', 'Work_Month',
       'Arizona State University', 'Boston University',
       'Carnegie Mellon University', 'Drexel University',
       'Illinois Institute of Technology', 'Indiana University Bloomington',
       'Iowa State University', 'New York University',
       'Northeastern University', 'Northwestern University',
       'Pennsylvania State University', 'Rensselaer Polytechnic Institute',
       'Rochester Institute of Technology', 'Rutgers University, Newark',
       'Rutgers University-New Brunswick', 'Santa Clara University',
       'Stevens Institute of Technology', 'Syracuse University',
       'Texas A&M; University, College Station', 'University at Buffalo SUNY',
       'University of Arizona', 'University of California, Irvine',
       'University of Cincinnati', 'University of Delaware',
       'University of Florida', 'University of Illinois at Chicago',
       'University of Maryland, College Park',
       'University of Minnesota, Twin Cities',
       'University of North Carolina at Charlotte',
       'University of Texas at Arlington', 'University of Texas at Austin',
       'University of Texas at Dallas', 'University of Utah',
       'University of Washington', 'Worcester Polytechnic Institute',
       'ICS with concentration in Informatics', 'Information Management',
       'Information Management and Systems', 'Information Science',
       'Information Systems', 'Information Technology and Management',
       'Management Information System'],
      dtype='object')

In [16]:
df.columns

Index(['GRE_SCORE', 'Test_score', 'Undergrad_score', 'Grad_Year', 'Work_Month',
       'Arizona State University', 'Boston University',
       'Carnegie Mellon University', 'Drexel University',
       'Illinois Institute of Technology', 'Indiana University Bloomington',
       'Iowa State University', 'New York University',
       'Northeastern University', 'Northwestern University',
       'Pennsylvania State University', 'Rensselaer Polytechnic Institute',
       'Rochester Institute of Technology', 'Rutgers University, Newark',
       'Rutgers University-New Brunswick', 'Santa Clara University',
       'Stevens Institute of Technology', 'Syracuse University',
       'Texas A&M; University, College Station', 'University at Buffalo SUNY',
       'University of Arizona', 'University of California, Irvine',
       'University of Cincinnati', 'University of Delaware',
       'University of Florida', 'University of Illinois at Chicago',
       'University of Maryland, College Park',
       'University of Minnesota, Twin Cities',
       'University of North Carolina at Charlotte',
       'University of Texas at Arlington', 'University of Texas at Austin',
       'University of Texas at Dallas', 'University of Utah',
       'University of Washington', 'Worcester Polytechnic Institute',
       'ICS with concentration in Informatics', 'Information Management',
       'Information Management and Systems', 'Information Science',
       'Information Systems', 'Information Technology and Management',
       'Management Information System', 'Admit'],
      dtype='object')

In [11]:
df2['GRE_SCORE']=1
df2

,GRE_SCORE,Test_score,Undergrad_score,Grad_Year,Work_Month,Arizona State University,Boston University,Carnegie Mellon University,Drexel University,Illinois Institute of Technology,...,University of Utah,University of Washington,Worcester Polytechnic Institute,ICS with concentration in Informatics,Information Management,Information Management and Systems,Information Science,Information Systems,Information Technology and Management,Management Information System
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df

,GRE_SCORE,Test_score,Undergrad_score,Grad_Year,Work_Month,Arizona State University,Boston University,Carnegie Mellon University,Drexel University,Illinois Institute of Technology,...,University of Utah,University of Washington,Worcester Polytechnic Institute,ICS with concentration in Informatics,Information Management,Information Management and Systems,Information Science,Information Systems,Information Technology and Management,Management Information System
0,jk,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0